<div class="row">
  <div class="span6 offset3">

    <%= form_for @user, html: { multipart: true} do |f| %>
      <%= render 'shared/error_messages' %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :image %><br>
        <%= f.file_field :image %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions">
        <%= f.submit "登録", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>

  </div>
</div>